@use "../../../scss/" as *;

.cat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  .CH-title {
    margin-bottom: 0;
  }
  .btn-wht {
    padding : rem(20) rem(27);
    border-radius: rem(16);
    @include scr-sm {
      padding: rem(20);
    }
  }
}
