@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lobster&display=swap");

// colors
$clr-bg : #E7F9FD;
$clr-head: #000000;
$clr-para: #00000099;
$clr-brand: #FF7426;

//fonts
$ff-body : "Inter", sans-serif;
$ff-brand : "Lobster", cursive;




